::ng-deep .p-dialog {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

::ng-deep .p-dialog-header {
  font-size: 18px;
  font-weight: 600;
  color: #1f2937;
  background-color: #f9fafb;
  padding: 1.2rem 1.5rem;
  border-bottom: 1px solid #e5e7eb;
}

::ng-deep .p-dialog-content {
  padding: 1.5rem;
  background-color: #ffffff;
}

::ng-deep .p-dialog-footer {
  padding: 1.2rem 1.5rem;
  background-color: #f9fafb;
  border-top: 1px solid #e5e7eb;
  text-align: right;
}

::ng-deep .p-dialog-content .p-inputtext {
  background-color: #ffffff !important;
  border: 1px solid #000 !important;
  color: #000 !important;
}

::ng-deep .p-dialog-close-button:hover {
  background-color: transparent !important;
  box-shadow: none !important;
  color: inherit !important;
}
::ng-deep .p-dialog-close-button .p-ripple {
  display: none !important;
}

::ng-deep .p-dialog-footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

::ng-deep .p-dialog-footer .p-button {
  flex: 1;
  /* max-width: 160px; */
  margin-top: 20px;
}

::ng-deep .p-dialog-footer .p-button .pi-times {
  color: #dc2626;
}

::ng-deep .p-dialog-footer .p-button:nth-child(1) {
  background-color: #f3f4f6;
  color: #1f2937;
  border: none;
}

::ng-deep .p-dialog-footer .p-button:nth-child(1):hover {
  background-color: #e5e7eb;
  border: none;
}

::ng-deep .p-dialog-footer .p-button .pi-check {
  color: white !important;
}

::ng-deep .p-dialog-footer .p-button:nth-child(2) {
  background-color: #10b981;
  color: white;
  border: none;
}

::ng-deep .p-dialog-footer .p-button:nth-child(2):hover {
  background-color: #059669;
}
