<h3>
  {{ mode() === "create" ? "Create New Record" : "Update Record" }}
</h3>

@for (col of columns(); track col.field) { @if (col.field !== 'id') {
<ng-container>
  <div class="p-field mb-3">
    <label [for]="col.field">{{ col.header }}</label>
    <input
      pInputText
      [id]="col.field"
      [type]="col?.type || 'text'"
      [(ngModel)]="record()[col.field]"
      [disabled]="mode() === 'view'"
    />
  </div>
</ng-container>
} }

<div class="p-dialog-footer">
  <button pButton label="Cancel" icon="pi pi-times" (click)="cancel()"></button>
  @if (mode() !== 'view') {
  <button pButton label="Save" icon="pi pi-check" (click)="save()"></button>
  } @if (mode() === 'view') {
  <button
    pButton
    label="Reload Table"
    icon="pi pi-refresh"
    (click)="onReload()"
  ></button>
  }
</div>
